.header {
  margin-top: 28px;
  margin-bottom: 142px;

  &__logo-desctop {
    @media (max-width: 720px) {
      display: none;
    }

   
  }

  &__logo-tablet {
    display: none;

    @media (max-width: 720px) {
      display: block;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    &__list {
      display: flex;
      gap: 60px;

      @media (max-width: 980px) {
        gap: 30px;
      }

      @media (max-width: 720px) {
        gap: 16px;
      }
    }

    &__link {
      font-size: 20px;

      @media (max-width: 860px) {
        font-size: 14px;
        gap: 30px;
      }
    }
  }

  &__btn {
    background: linear-gradient(160.04deg, #5e44fc -6.25%, #250858 165.17%);

    transition: all 0.2s ease;

    &:hover {
      opacity: 0.9;
    }
  }
}
