.header {
  margin-top: 28px;
  margin-bottom: 142px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav {
    &__list {
      display: flex;
      gap: 60px;
    }

    &__link {
      font-size: 20px;
    }
  }

  &__btn {
    background: linear-gradient(160.04deg, #5e44fc -6.25%, #250858 165.17%);

    transition: all 0.2s ease;

    &:hover {
        opacity: .9;
    }
  }
}
