.banner {
  &__inner {
    display: flex;
    align-items: flex-start;
    gap: 100px;

    @media (max-width: 560px) {
      flex-direction: column;
      align-items: center;
      gap: 16px;
    }
  }

  &__left {
    @media (max-width: 560px) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__right {
    margin-top: -83px;
    position: relative;

    @media (max-width: 930px) {
      margin-left: -53px;
    }

    @media (max-width: 560px) {
      margin-left: 0;
    }

    &-ellipse {
      position: absolute;
      top: -140px;
      left: -150px;
      z-index: -10;

      @media (max-width: 720px) {
        left: -230px;
      }

      @media (max-width: 560px) {
        display: none;
      }
    }
  }

  &__bottom-content {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 5px;
  }

  &__title {
    font-weight: 400;
    font-size: 68px;
    line-height: 105%;
    color: #ffffff;
    margin-bottom: 28px;

    span {
      color: #cdaaf5;
    }

    @media (max-width: 930px) {
      font-size: 44px;
      width: 472px;
    }

    @media (max-width: 560px) {
      text-align: center;
    }

    @media (max-width: 560px) {
      max-width: 354px;
    }
  }

  &__description {
    width: 449px;
    font-weight: 400;
    line-height: 140%;
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;

    margin-bottom: 40px;

    @media (max-width: 930px) {
      font-size: 16px;
      width: 346px;
    }

    @media (max-width: 560px) {
      width: 328px;
      text-align: center;
    }

    span {
      color: #cdaaf5;
    }
  }

  &__btn {
    background: linear-gradient(180deg, #00ffa3 -24.53%, #301d5f 183.96%);
  }

  .btn__wrapper {
    position: relative;
  }

  .btn__ellipse {
    z-index: -4;
    position: absolute;
    top: -37px;
    left: -60px;

    img {
      width: 163px;
      height: 130px;
    }
  }

  .socials {
    margin-top: 147px;
    display: flex;
    align-items: center;
    gap: 17px;

    padding: 0;

    @media (max-width: 1200px) {
      flex-direction: column;
      align-items: flex-start;
    }

    li {
      transition: all 0.2s ease;
      &:hover {
        transform: translateY(5px);
      }
    }

    @media (max-width: 560px) {
      // flex-direction: row;
      display: none;

      li {
        img {
          width: 158px;
          height: 54px;
        }
      }
    }
    @media (max-width: 400px) {
      display: none;
    }
  }

  &__poster-list {
    display: flex;

    position: relative;
    z-index: -2;

    @media (max-width: 930px) {
      margin-left: -130px;
    }

    @media (max-width: 720px) {
      display: none;
    }
    li {
      &:nth-child(1) {
        position: absolute;
        top: 143px;
        left: -24px;
      }

      &:nth-child(2) {
        z-index: 10;

        @media (max-width: 930px) {
        }
      }

      &:nth-child(3) {
        position: absolute;
        bottom: 43px;
        right: -130px;
        z-index: 8;
      }

      &:nth-child(4) {
        z-index: 6;
        position: absolute;
        top: 190px;
        right: -183px;
      }
    }
  }

  &__planet {
    position: absolute;

    top: 650px;
    right: 570px;

    @media (max-width: 720px) {
      top: 694px;
      right: 623px;
    }
    &-circle {
      position: relative;
      top: 0;
      left: 0;

      @media (max-width: 720px) {
        .circle {
          width: 200px;
        }
      }
    }
    &-planet {
      position: absolute;
      top: 80px;
      right: 95px;

      @media (max-width: 720px) {
        top: 42px;
        right: 47px;
        width: 100px;

        img {
          width: 100px;
        }
      }
    }
  }
  &__right-ellipse {
    position: relative;
  }

  &__big-ellipse {
    position: absolute;
  }

  &__allMobiles {
    display: none;

    @media (max-width: 720px) {
      display: block;
      margin-left: -169px;
      margin-top: 103px;
      position: relative;
      z-index: -20;

      img {
        width: 446px;
      }
    }

    @media (max-width: 560px) {
      margin-left: 0;
      display: none;
    }
  }

  &__bottom-mobile {
    display: none;


    @media (max-width: 560px) {
      margin-top: 80px;
      margin-bottom: 80px;
    .banner__bottom-allMobiles{ 

      img { 
       width: 100%;
      }
      display: block;
    }
      .socials {
        display: flex;
        flex-direction: row;
        // margin-top: 37px;
        margin-top: 0;
      }
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
